.App .weather-page {
  max-width: 500px;
  margin: 40px auto;
}

.App .weather-app {
  background: #faecf3d9;
  border: 1px solid #ececec !important;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 15%) 0px 8px 16px 0px;
  display: block;
  margin-top: 20px;
  padding: 10px;
}

.App .card {
  border: 0;
  background: transparent;
}

.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App li {
  color: #57595f;
}
