.Cities ul.cities {
  color: #3858a8;
  cursor: pointer;
  font-size: 13px;
}

.Cities ul.cities li {
  color: #3858a8;
  display: inline;
  text-align: left;
}

.Cities ul.cities li:hover {
  color: #192c5c;
  text-decoration: underline;
}
