.ForecastPreview .WeatherIcon canvas {
  display: block;
  height: 35px;
  width: 35px;
  margin: 5px auto;
  float: none;
}

.ForecastPreview {
  font-size: 12px;
}

.ForecastPreview .hour {
  font-size: 13px;
}
