.Forecast h3 {
  color: rgb(33, 37, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  max-width: 100%;
  padding: 0 12px;
  text-align: center;
}

.Forecast img.forecast {
  display: block;
  margin: -10px auto;
  width: 70px;
}

.Forecast .week-prediction {
  text-align: center;
}

.Forecast .prediction {
  font-size: 13px;
}
