.ForecastPreview .WeatherIcon canvas {
  display: block;
  height: 35px;
  width: 35px;
  margin: 2px auto;
  float: none;
  color: #57595f;
}

.ForecastPreview {
  color: #57595f;
  font-size: 12px;
  margin-top: 10px;
}

.ForecastPreview .hour {
  font-size: 13px;
}
