.Temperature .temperature-section img {
  float: left;
  margin-left: -5px;
  width: 85px;
}

.Temperature p#description {
  color: #434752;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}

.Temperature ul.weather {
  color: #434752;
  font-size: 13px;
  position: relative;
  margin-bottom: 0;
}

.Temperature ul.weather li {
  display: inline-block;
  padding-right: 10px;
}

.Temperature button {
  background: transparent;
  border: 0px;
}

.Temperature .temperature-section .temperature-part {
  float: left;
}

.Temperature .temperature-part span {
  color: #333f6e;
  float: left;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  line-height: 2;
}

.Temperature .temperature-part .units {
  font-size: 16px;
  left: 5px;
  position: relative;
  top: 15px;
}

.Temperature .units .active {
  color: #000000;
  cursor: default;
  font-weight: bold;
}

.Temperature .units .active:hover {
  text-decoration: none;
}
