.Weather ul.cities {
  color: #3858a8;
  cursor: pointer;
  font-size: 13px;
}

.Weather ul.cities li {
  color: #3858a8;
  display: inline;
  text-align: left;
}

.Weather ul.cities li:hover {
  color: #192c5c;
  text-decoration: underline;
}

.Weather .card {
  border: 0;
  background: transparent;
}
.Weather .form-control {
  display: inline;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 150px;
}

.Weather .fa-map-marker-alt {
  color: #1476a5;
  cursor: pointer;
  font-size: 1.9rem;
  margin-left: 5px;
  position: relative;
  top: 3px;
}

.Weather .btn-secondary {
  margin-top: -3px;
  padding: 5px 10px;
}
