.WeatherTemperature {
  float: left;
}

.WeatherTemperature span.Temperature {
  color: #333f6e;
  float: left;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  line-height: 1;
}

.WeatherTemperature .units {
  font-size: 16px;
  left: 5px;
}

.WeatherTemperature .units .active {
  color: #000000;
  cursor: default;
  font-weight: bold;
}

.WeatherTemperature .units .active:hover {
  text-decoration: none;
}
