body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  background-position: center;
  background-repeat: no-repeat;
  /* background image color: #d42c7f; */
}
